.Layout {
  /* width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr; */
  &__main {
    overflow-x: hidden;
  }
  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
