.SchoolSlide {
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-auto-rows: auto 1fr auto;
  grid-auto-columns: auto;
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 1rem;
  &__title {
    padding: 0 1rem;
    font-size: 3rem;
    display: inline;
    line-height: normal;
    &--container {
      background-color: rgba(0, 0, 0, 0.541);
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  &__body {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &--text {
      width: 90%;
      font-size: 1.25rem;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.541);
    }
  }
  &__button {
    min-height: 65px;
  }
}
